.parinte {
  width: 600px;
  height: 550px;
  border: solid 2px #d5cfce;
  background-color: #d5cfce;
  position: relative;
}
.copil1 {
  border: solid 2px yellow;
  background-color: yellow;
  position: absolute;

  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.copil2 {
  width: 200px;
  height: 200px;
  border: solid 2px blue;
  background-color: blue;
  position: absolute;
  top: 260px;
  left: 300px;
}
.copil3 {
  width: 200px;
  height: 200px;
  border: solid 2px green;
  background-color: green;
  position: absolute;
  left: 398px;
  top: 348px;
}
